<template name="serviceloglisttable">

  <div class="row no-gutters" style="padding: 0px 32px;">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row d-xl-flex flex-row justify-content-xl-center" style="padding: 0px 20px;">
          <div class=" col float-left flex-grow-1 mb-1">
            <button class="btn btn-primary btnRefresh" type="button" style="margin: 12px"><i class="la la-lightbulb-o"
                style="padding-right: 5px;"></i>Refresh</button>
            <button id="btnNewServiceLog" name="btnNewServiceLog" class="btn btn-primary" type="button"
              style="margin: 12px 0 12px;"><i class="icon ion-plus" style="padding-right: 5px;"></i>New Service Log</button>
          </div>

          <div class="col-5 col-md-7 d-xl-flex justify-content-xl-end align-items-xl-start">
            {{> export_import_print_display_button Import="hiddenButton" tablename="tblServiceLogList"}}
        </div>
        </div>

        <div class="card-body">
          <style>
            td.colAmountEx, td.colTax, td.colAmount{
                  text-align: right !important;
              }
          </style>
          {{>datatablelist
              tableclass="tblServiceLogList"
              tablename="tblServiceLogList"
              apiName= apiFunction
              indexeddbname = 'TServiceLogList'
              tableheaderrecords = tableheaderrecords
              exportfilename = 'Service Log List'
              istransaction = false
              apiParams= apiParams
              datahandler = datahandler
              service=service
              lowercaseDataName='tserviceloglist'
              exportfilename='Service Log List'
              exIndexDBName = 'tserviceloglist'
              exdatahandler = exDataHandler
              searchAPI = searchAPI
              orderby = '[[ 1, "asc" ]]'
          }}
        </div>
      </div>
    </div>
  </div>


</template>
