<template name="customerselector">
    <div class="formgoup transheader">
        <div class="form-group">
          <!-- <label>{{label}}</label> -->

            {{> vs1___dropdown
              type='search'
              id=id
              name=name
              value=value
              modalId= modalId
              data=data
              email=email
              list_template_name=list_template_name
              modal_title=modal_title
              label = label
              colNameForValue = colNameForValue
              target_modal_id=target_modal_id
              target_template_id=target_template_id
              is_editable=true
              innerModal=true
            }}
          <input type="hidden" name="__customer_id" id="__customer_id" value="{{value}}">
        </div>
        <div>
          <span data-toggle="tooltip" data-placement="top" title="Only the highest discount is applied"
            id="customerType" name="customerType" class="customerType"
            style="margin-left: 2px;color: #17a673;"></span>
          <input type="hidden" class="form-control pointer" id="edtCustomerUseType" name="edtCustomerUseType"
            value="">
          <span data-toggle="tooltip" data-placement="top" title="Only the highest discount is applied"
            id="customerDiscount" name="customerDiscount" class="customerDiscount"
            style="color: #17a673;"></span>
          <input type="hidden" class="form-control pointer" id="edtCustomerUseDiscount"
            name="edtCustomerUseDiscount" value="0">
        </div>
      </div>
</template>
