<template name="fixedassetlistpop">

  <style>
    #row1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    #column1 {
      display: flex;
    }

    #column2 {
      display: flex;
      flex-direction: column;
      margin: 16px;
      padding: .375rem .75rem;
    }

    .groove {
      border-style: solid;
      border-width: 1px;
      width: 200px;
      padding: 2px;
      border-radius: .35rem;
    }

    .custom-control-label {
      position: absolute;
    }

    @media only screen and (max-width: 480px) {
      .modal.show .modal-dialog {
        float: inherit !important;
        left: inherit !important;
        top: auto !important;

      }
    }
  </style>
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document" style="max-width: 90vw;">
    <div class="modal-content">
        <div class="modal-header">
          <h4>Fixed Asset List</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div class="row no-gutters" style="padding: 0px 32px;">
            <div class="col-12">
              <div class="card mb-3">
                <div class="card-body p-1 rounded tbl">
                  <style>
                    td.colRegisterAssetCost {
                          text-align: right !important;
                      }
                  </style>
                  {{>datatablelist
                    tableclass="tblFixedAssetList"
                    tablename=tablename
                    apiName= apiFunction
                    indexeddbname = 'TFixedAssetsList'
                    tableheaderrecords = tableheaderrecords
                    exportfilename = 'Fixed Assets List'
                    istransaction = false
                    apiParams= apiParams
                    datahandler = datahandler
                    service=service
                    lowercaseDataName='tfixedassetslist'
                    exportfilename='Fixed Assets List'
                    exIndexDBName = 'tfixedassetslist'
                    exdatahandler = exDataHandler
                    searchAPI = searchAPI
                    orderby = '[[ 0, "asc" ]]'
                    showPlusButton = true
                    showPlusButtonDataTarget = "newFixedAssetModal"
                    showPlusButtonClass = "btnNewFixedAsset"
                }}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button class="btn btn-success btnSaveProducts"  id="btnSaveProducts" type="button">Save</button> -->
            <button class="btn btn-light" data-dismiss="modal" type="button">Close</button>
          </div>
      </div>
    </div>
  </div>


</template>
